.logo {
	composes: flex from global;
	composes: items-center from global;
	composes: pointer-events-auto from global;
}

.title {
}

.sChr {
	composes: font-bb from global;
	composes: inline from global;
}

.svg {
	composes: w-[123px] from global;
	composes: text-white from global;
}