.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
    composes: bg-white-fff from global;
}

.cont {
    composes: cont from '@globalCss';
}

.row {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-3 from global;
}

.col {}

.colForm {
    composes: lg_col-span-2 from global;
}

.title {
    composes: text-4xl from global;
    composes: mb-8 from global;
}
.item {
    composes: mb-4 from global;
}

.itemLink {
    composes: flex from global;
    composes: gap-3 from global;
    composes: text-base from global;
    composes: items-center from global;
}

.icon {
    composes: h-4 from global;
    composes: w-4 from global;
}

.linkTitle {}

.linkList {}