.root {
    composes: py-12 from global;
    composes: mOnly_pt-36 from global;
    composes: bg-black from global;
    composes: relative from global;
    composes: flex from global;
    composes: items-end from global;
    composes: lg_min-h-screen from global;
    composes: text-white from global;
}

.cont {
    composes: cont from '@globalCss';
    composes: relative from global;
    composes: z-1 from global;
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: after_absolute from global;
    composes: after_left-0 from global;
    composes: after_top-0 from global;
    composes: after_w-full from global;
    composes: after_h-full from global;
}

.imageContainer:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), rgba(30, 31, 39, 0.4);
}

.title {
    composes: text-4xl from global;
    composes: lg_text-[80px] from global;
    composes: max-w-4xl from global;
}

.tags {
    composes: text-xl-m from global;
    composes: font-bold from global;
    composes: text-orange from global;
    composes: block from global;
    composes: mt-12 from global;
    composes: lg_mt-32 from global;
    composes: lg_text-end from global;
    composes: mOnly_-order-[1] from global;
    composes: mOnly_mt-24 from global;
    composes: mOnly_mb-8 from global;
}

.excerpt {
    composes: block from global;
    composes: mt-8 from global;
    composes: max-w-lg from global;
}

.subTitle {
    composes: text-base from global;
    composes: block from global;
    composes: mt-4 from global;
}

.contentContainer {
    composes: mOnly_flex from global;
    composes: mOnly_flex-col from global;
}