.message {
    composes: py-8 from global;
    composes: lg_py-20 from global;
    composes: bg-yellow from global;
    composes: relative from global;
    composes: flex from global;
    composes: lg_items-center from global;
    composes: lg_min-h-screen from global;
    composes: mOnly_min-h-[410px] from global;
    composes: overflow-hidden from global;
}

.messageContent {
    composes: text-4xl from global;
    composes: lg_text-[64px] from global;
    composes: mOnly_w-full from global;
    composes: mb-8 from global;
}

.messageContent a {
    @apply underline inline-flex gap-4 font-bold items-center;
}

.messageContent svg {
    @apply block h-8 w-8;
}

.messageContent path {
    @apply stroke-[8px];
    stroke-linecap: square;
}


.messageContainer {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: gap-8 from global;
    composes: cont from '@globalCss';
    composes: z-[1] from global;
    composes: relative from global;
}

.btnIcon {
    composes: text-brown from global;
    composes: group-hover_text-white from global;
    composes: primary-anime from global;
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
}

.mobileBackgroundImage {
    composes: lg_hidden from global;
}

.desktopBackgroundImage {
    composes: mOnly_hidden from global;
}

.bgSvg {
    composes: absolute from global;
    composes: -bottom-[40px] from global;
    composes: lg_bottom-0 from global;
    composes: -end-[80px] from global;
    composes: lg_-end-[200px] from global;
    composes: w-[310px] from global;
    composes: lg_w-[930px] from global;
}