.message {
    composes: py-20 from global;
    composes: bg-black from global;
    composes: relative from global;
    composes: flex from global;
    composes: items-center from global;
    composes: lg_min-h-screen from global;
}
.messageContent {
    composes: text-4xl from global;
    composes: mOnly_w-full from global;
    composes: mb-8 from global;
}

.messageContainer {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: gap-8 from global;
    composes: cont from '@globalCss';
    composes: z-[1] from global;
    composes: relative from global;
}

.btnIcon {
    composes: text-brown from global;
    composes: group-hover_text-white from global;
    composes: primary-anime from global;
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
}