.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
}

.cont {
    composes: cont from '@globalCss';
}

.title {
    composes: font-bold from global;
    composes: text-4xl from global;
    composes: mOnly_text-[40px] from global;
    composes: mb-8 from global;
}

.content {
    composes: text-[18px] from global;
    composes: lg_text-[20px] from global;
    composes: text-neutral-500 from global;
    composes: max-w-3xl from global;
}

.content p {
    @apply mb-4;
}