.root {
    composes: relative from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: aspect-video from global;
    composes: text-white from global;
    composes: overflow-hidden from global;
    composes: rounded-2xl from global;
    composes: cursor-pointer from global;
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: after_absolute from global;
    composes: after_left-0 from global;
    composes: after_top-0 from global;
    composes: after_w-full from global;
    composes: after_h-full from global;
}

.imageContainer:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), rgba(30, 31, 39, 0.4);
}

.play {
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: absolute from global;
    composes: border from global;
    composes: border-white from global;
    composes: rounded-full from global;
    composes: h-16 from global;
    composes: w-16 from global;
}

.icon {
    composes: w-4 from global;
    composes: h-4 from global;
}