.root {
    composes: py-12 from global;
    composes: pb-24 from global;
    composes: bg-white from global;
}

.cont {
    composes: cont from '@globalCss';
}

.row {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-2 from global;
    composes: gap-4 from global;
    composes: lg_gap-32 from global;
}

.col {
}

.colContent {
    composes: lg_pt-6 from global;
}

.imageContainer {
    composes: relative from global;
    composes: overflow-hidden from global;
    composes: rounded-3xl from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: relative from global;
    composes: aspect-[4/3] from global;
}

.image {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
}
.title {
    composes: mb-12 from global;
    composes: text-4xl from global;
    composes: text-center from global;
    composes: font-bold from global;
}

.content {
    composes: text-[18px] from global;
    composes: lg_text-[22px] from global;
}

.sliderBtns {
    composes: flex from global;
    composes: gap-4 from global;
    composes: mt-4 from global;
    composes: lg_mt-12 from global;
}

.btn {
    composes: h-11 from global;
    composes: w-11 from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: text-yellow from global;
    composes: bg-black from global;
    composes: rounded-full from global;
    composes: disabled_opacity-50 from global;
}

.icon {
    composes: h-4 from global;
    composes: w-4 from global;
}

.iconPrev {
    composes: h-4 from global;
    composes: w-4 from global;
    composes: rotate-180 from global;
}