.root {
    composes: py-12 from global;
    composes: lg_py-20 from global;
    composes: bg-yellow from global;
    composes: text-black from global;
}

.cont {
    composes: cont from '@globalCss';
}

.row {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-3 from global;
    composes: gap-8 from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: mt-24 from global;
}

.title {
    composes: text-4xl from global;
}

.itemTitle {
    composes: text-[20px] leading-none from global;
}

.itemTitle strong {
    @apply text-[60px] lg_text-[100px] block;
}