.root {
	composes: top-0 from global;
	composes: left-0 from global;
	composes: w-full from global;
	composes: z-[12] from global;
	composes: fixed from global;
	composes: bg-black from global;
	composes: text-white from global;
}
.cont {
	composes: cont from '@globalCss';
}
.row {
	composes: items-center from global;
	composes: mOnly_flex-wrap from global;
	composes: flex from global;
	composes: mOnly_py-2 from global;
}
.logoContainer {
	composes: w-2/12 from global;
	composes: mOnly_w-6/12 from global;
	composes: relative from global;
	composes: z-10 from global;
}
.navContainer {
	composes: ml-auto from global;
	composes: flex from global;
	composes: mOnly_relative from global;
	composes: mOnly_z-10 from global;
	pointer-events: all;
}
.header {}

.btnLink {
	composes: btn-link from global;
	composes: text-[20px] from global;
	composes: py-[7px] from global;
	composes: btn-primary from global;
	composes: font-bold from global;
	composes: text-lg from global;
	composes: lg_ms-4 from global;
	composes: mOnly_-order-[1] from global;
	composes: mOnly_w-full from global;
	composes: mOnly_mb-4 from global;
	composes: mOnly_rounded-[0] from global;
	pointer-events: all;
}

.headerMessage {
	composes: py-4 from global;
	composes: bg-yellow from global;
	composes: text-black from global;
	composes: text-center from global;
}

.messageTitle {
	composes: text-[18px] from global;
}