.root {
    composes: py-12 from global;
    composes: lg_py-32 from global;
    composes: bg-black from global;
    composes: relative from global;
    composes: flex from global;
    composes: items-end from global;
    composes: text-white from global;
}

.cont {
    composes: cont from '@globalCss';
    composes: relative from global;
    composes: z-1 from global;
}

.bgImageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: after_absolute from global;
    composes: after_left-0 from global;
    composes: after_top-0 from global;
    composes: after_w-full from global;
    composes: after_h-full from global;
    composes: after_bg-black/90 from global;
}

.imageContainer {
    composes: relative from global;
    composes: overflow-hidden from global;
    composes: aspect-[4/5] from global;
    composes: rounded-lg from global;
}

.row {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-4 from global;
    composes: gap-8 from global;
    composes: items-end from global;
}

.colContent {
    composes: lg_col-span-2 from global;
}

.tag {
    composes: font-bold from global;
    composes: text-base-m from global;
    composes: mt-4 from global;
    composes: block from global;
}

.title {
    composes: text-base-m from global;
    composes: lg_text-[22px] from global;
    composes: mb-1 from global;
}
.excerpt {
    composes: max-w-80 from global;
    composes: text-base from global;
    composes: block from global;
}

.nextLink {
    composes: lg_underline from global;
    composes: lg_text-yellow from global;
    composes: lg_text-base-m from global;
    composes: font-bold from global;
    composes: mOnly_text-sm from global;
    composes: mOnly_py-3 from global;
    composes: mOnly_w-full from global;
    composes: mOnly_justify-center from global;
    composes: mOnly_bg-yellow from global;
    composes: mOnly_rounded-full from global;
    composes: mOnly_text-black from global;
    composes: mOnly_block from global;
    composes: mOnly_text-center from global;
}

.colLink {
    composes: text-end from global;
}

.mainTitle {
    composes: mb-8 from global;
    composes: text-yellow from global;
    composes: font-bold from global;
    composes: text-base-m from global;
    composes: mOnly_text-[40px] from global;
}

.contentContainer {}

.tags {}

.image {}

.colImage {}