.root {
    composes: pt-12 from global;
    composes: lg_pt-24 from global;
    composes: pt-4 from global;
    composes: lg_pt-12 from global;
    composes: bg-white from global;
    composes: pb-1 from global;
}


.cont {
    composes: cont from '@globalCss';
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: after_absolute from global;
    composes: after_left-0 from global;
    composes: after_top-0 from global;
    composes: after_w-full from global;
    composes: after_h-full from global;
}

.imageContainer:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), rgba(30, 31, 39, 0.4);
}
.swiperSlide {
    composes: relative from global;
    composes: min-h-96 from global;
    composes: flex from global;
    composes: items-center from global;
}

.titleContainer {
    composes: flex from global;
    composes: items-center from global;
    composes: flex-wrap from global;
}

.title {
    composes: text-4xl from global;
}

.sliderContainer {
    composes: rounded-3xl from global;
    composes: overflow-hidden from global;
    composes: relative from global;
    composes: mt-12 from global;
    composes: lg_mt-20 from global;
}

.customPagination {
    composes: flex from global;
    composes: gap-2 from global;
    composes: justify-center from global;
    composes: mt-8 from global;
}

.dot {
    composes: rounded-full from global;
    composes: h-5 from global;
    composes: w-5 from global;
    composes: bg-black from global;
    composes: primary-anime from global;
}

.activeDot {
    composes: bg-yellow from global;
}

.btn {
    composes: py-2 from global;
    composes: lg_py-3 from global;
    composes: px-4 from global;
    composes: bg-yellow from global;
    composes: border from global;
    composes: border-yellow from global;
    composes: text-black from global;
    composes: font-bold from global;
    composes: rounded-full from global;
    composes: text-sm from global;
    composes: primary-anime from global;
    composes: disabled_border-black from global;
    composes: disabled_bg-white from global;
}

.sliderBtns {
    composes: inline-flex from global;
    composes: lg_ms-auto from global;
    composes: mOnly_hidden from global;
    composes: gap-4 from global;
    composes: mOnly_w-full from global;
}

.itemContent {
    composes: text-white from global;
    composes: absolute from global;
    composes: flex-wrap from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: h-full from global;
    composes: w-full from global;
    composes: flex from global;
    composes: items-center from global;
    composes: p-6 from global;
    composes: lg_p-12 from global;
    composes: z-[2] from global;
}

.itemTitle {
    composes: text-4xl from global;
    composes: max-w-3xl from global;
}

.tags {
    composes: w-full from global;
    composes: block from global;
    composes: mb-4 from global;
}

.tag {
    composes: font-bold from global;
    composes: text-base from global;
    composes: text-black from global;
    composes: bg-yellow from global;
    composes: rounded-full from global;
    composes: py-1 from global;
    composes: px-4 from global;
}

.image {}