.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
    composes: bg-black from global;
    composes: text-white from global;
}
.cont {
    composes: cont from '@globalCss';
}
.titleContainer {
    composes: mb-12 from global;
}
.title {
    composes: text-3xl from global;
    composes: font-bold from global;
}

.subTitle {
    composes: text-orange from global;
    composes: mb-4 from global;
    composes: font-bold from global;
    composes: text-base from global;
    composes: uppercase from global;
}

.row {
    composes: row from '@globalCss';
    composes: grid-cols-2 from global;
    composes: lg_grid-cols-5 from global;
    composes: gap-[8px] from global;
}

.itemContainer {
    composes: rounded-xl from global;
    composes: bg-[#313340] from global;
    composes: hover_bg-[#4e4f55] from global;
    composes: primary-anime from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: p-4 from global;
    composes: min-h-32 from global;
}

.btnShow {
    composes: text-sm from global;
    composes: font-bold from global;
    composes: text-black from global;
    composes: bg-yellow from global;
    composes: py-3 from global;
    composes: px-4 from global;
    composes: rounded-full from global;
    composes: block from global;
    composes: lg_hidden from global;
    composes: mt-8 from global;
}

.hideElements {}

.hideElements > div:nth-child(n + 9) {
    @apply mOnly_hidden;
}