.root {
    composes: py-12 from global;
    composes: pb-24 from global;
    composes: bg-white from global;
}

.title {
    composes: text-4xl from global;
    composes: font-bold from global;
    
}

.cont {
    composes: cont from '@globalCss';
}

.itemLink {
    composes: grid from global;
    composes: grid-cols-12 from global;
    composes: items-center from global;
}

.tableTitles {
    composes: grid from global;
    composes: grid-cols-12 from global;
    composes: mOnly_hidden from global;
    composes: mt-12 from global;
    composes: lg_mt-32 from global;
}
.colTitle {
    composes: col-span-12 from global;
    composes: lg_col-span-9 from global;
    composes: text-base from global;
    composes: font-bold from global;
    composes: lg_text-[28px] from global;
}

.colLocation {
    composes: col-span-11 from global;
    composes: lg_col-span-2 from global;
    composes: text-base from global;
    composes: lg_text-[28px] from global;

}

.colTableTitle {
    composes: col-span-12 from global;
    composes: lg_col-span-9 from global;
    composes: text-base from global;
    composes: font-bold from global;
    composes: lg_text-[20px] from global;
}

.colTableLocation {
    composes: col-span-11 from global;
    composes: lg_col-span-2 from global;
    composes: font-bold from global;
    composes: text-base from global;
    composes: lg_text-[20px] from global;

}

.col {
    composes: col-span-1 from global;
    composes: text-end from global;
    
}

.icon {
    composes: h-5 from global;
    composes: w-5 from global;
    composes: ms-auto from global;
}

.item {
    composes: py-8 from global;
    composes: border-b from global;
    composes: border-slate-500 from global;
}

.roles {
    composes: my-12 from global;
    composes: lg_my-20 from global;
}

.content {
    composes: text-base from global;
    composes: lg_text-[20px] from global;
}