.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
    composes: text-white from global;
    composes: bg-black from global;
    composes: relative from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: lg_min-h-screen from global;
}
.cont {
    composes: cont from '@globalCss';
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: mOnly_hidden from global;
}

.swiper {
    composes: max-w-2xl from global;
    margin-inline-start: 0px !important;
}

.content {
    composes: text-yellow from global;
    composes: font-bold from global;
    composes: text-[28px] from global;
    composes: lg_text-[44px] from global;
}

.quoteIcon {
    composes: w-8 from global;
    composes: text-white from global;
    composes: block from global;
    composes: mb-8 from global;
    composes: relative from global;
    composes: z-[1] from global;
}

.itemImage {
    composes: block from global;
    composes: mt-8 from global;
}