.root {
    composes: bg-black from global;
    composes: text-white from global;
    composes: py-12 from global;
    composes: lg_py-32 from global;
}

.cont {
    composes: cont from '@globalCss';
}


.title {
    composes: text-4xl from global;
    composes: mOnly_mb-16 from global;
    composes: font-bold from global;
    composes: relative from global;
    composes: z-[1] from global;
}

.title strong {
    @apply text-orange;
}


.slidesContainer {
    composes: flex from global;
    composes: w-fit from global;
    composes: flex-nowrap from global;
    composes: items-center from global;
    composes: h-screen from global;
}

.row {
    composes: lg_grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-2 from global;
    composes: lg_gap-12 from global;
    composes: lg_items-center from global;
}

.imageContainer {
    composes: relative from global;
    composes: aspect-[4/5] from global;
}
.itemRoot {
    composes: w-screen from global;
    composes: mOnly_border from global;
    composes: mOnly_border-yellow from global;
    composes: mOnly_rounded-3xl from global;
    composes: mOnly_p-8 from global;
    composes: mOnly_w-full from global;
    composes: mOnly_h-full from global;
}

.itemTitle {
    composes: font-bold from global;
    composes: text-4xl from global;
    composes: text-yellow from global;
    composes: lg_mt-20 from global;
    composes: mb-8 from global;
    composes: lg_mb-4 from global;
}

.content {
    composes: text-[20px] from global;
}

.itemCont {
    composes: lg_ps-28 from global;
}

.swiperWrapper {
    composes: mOnly_mt-8 from global;
}

.contentCol {
    composes: lg_pt-12 from global;
}

.imageCol {
    composes: mOnly_hidden from global;
}

.sliderBtns {
    composes: flex from global;
    composes: gap-4 from global;
    composes: mt-12 from global;
    composes: lg_mt-12 from global;
    composes: justify-end from global;
    composes: px-4 from global;
}

.btn {
    composes: h-11 from global;
    composes: w-11 from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: text-black from global;
    composes: bg-yellow from global;
    composes: rounded-full from global;
    composes: disabled_opacity-50 from global;
}

.icon {
    composes: h-4 from global;
    composes: w-4 from global;
}

.iconPrev {
    composes: h-4 from global;
    composes: w-4 from global;
    composes: rotate-180 from global;
}

.titleCont {}

.image {}

.slide {
    composes: h-full from global;
    flex: 1 0 auto;
    height: auto !important;
    display: flex;
}