.root {
    composes: py-12 from global;
    composes: pt-20 from global;
    composes: lg_pt-48 from global;
    composes: bg-black from global;
    composes: relative from global;
    composes: flex from global;
    composes: items-start from global;
    composes: lg_min-h-screen from global;
    composes: text-white from global;
    composes: flex-col from global;
}

.cont {
    composes: cont from '@globalCss';
    composes: relative from global;
    composes: z-1 from global;
    composes: h-full from global;
    composes: flex-1 from global;
    composes: grid from global;
}

.imageContainer {
    composes: absolute from global;
    composes: min-h-full from global;
    composes: min-w-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: overflow-hidden from global;
    composes: after_absolute from global;
    composes: after_left-0 from global;
    composes: after_top-0 from global;
    composes: after_w-full from global;
    composes: after_h-full from global;
}

.imageContainer:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), rgba(30, 31, 39, 0.4);
}

.title {
    composes: text-4xl from global;
    composes: max-w-3xl from global;
    composes: mOnly_mt-12 from global;
    composes: mb-4 from global;
}

.contentContainer {
    composes: flex from global;
    composes: h-full from global;
    composes: flex-col from global;
}

.title strong {
    @apply text-yellow;
}

.excerpt {
    composes: block from global;
    composes: max-w-lg from global;
}

.subTitle {
    composes: text-yellow from global;
    composes: block from global;
    composes: mt-auto from global;
    composes: ms-auto from global;
    composes: text-end from global;
    composes: max-w-96 from global;
    composes: text-xl-m from global;
}