.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
    composes: bg-black from global;
    composes: text-white from global;
}

.cont {
    composes: cont from '@globalCss';
}

.title {
    composes: text-3xl from global;
    composes: font-bold from global;
    composes: text-center from global;
}

.miniTitle {
    composes: bg-orange from global;
    composes: text-black from global;
    composes: font-bold from global;
    composes: text-[20px] from global;
    composes: py-2 from global;
    composes: px-2 from global;
    composes: mb-6 from global;
    composes: inline-block from global;
    composes: rounded-full from global;
    composes: uppercase from global;
}

.titleContainer {
    composes: block from global;
    composes: text-center from global;
    composes: mb-12 from global;
}

.map {
    composes: hidden from global;
    composes: lg_block from global;
}

.map [data-button] {
    cursor: pointer;
}

.map [data-button]:hover + g {
    opacity: 1;
}

.map [data-button] + g {
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease;
}

.worldList {
    composes: grid from global;
    composes: gap-8 from global;
    composes: grid-cols-1 from global;
    composes: lg_hidden from global;
}

.item {
    composes: flex from global;
    composes: items-center from global;
    composes: gap-6 from global;
    composes: p-4 from global;
    composes: border-slate-500 from global;
    composes: border-2 from global;
    composes: bg-black from global;
    composes: rounded-2xl from global;
}

.image {
    composes: w-8 from global;
    composes: h-8 from global;
}

.cityTitle {
    composes: text-base-m from global;
    composes: font-bold from global;
}