.root {
    composes: py-12 from global;
    composes: lg_py-24 from global;
    composes: bg-white from global;
}

.cont {
    composes: cont from '@globalCss';
}

.itemsContainer {}

.filtersContainer {}