.root {
    composes: py-12 from global;
    composes: lg_py-20 from global;
    composes: bg-black from global;
    composes: text-white from global;
}

.cont {
    composes: cont from '@globalCss';
}

.titleRow {
    composes: row from '@globalCss';
    composes: items-end from global;
    composes: mb-16 from global;
}

.titleContainer {
    composes: col-span-12 from global;
    composes: lg_col-span-7 from global;
}

.subTitleContainer {
    composes: col-span-12 from global;
    composes: lg_col-span-5 from global;
}

.row {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: lg_grid-cols-3 from global;
    composes: gap-8 from global;
}

.title {
    composes: text-4xl from global;
    composes: font-bold from global;
}

.title strong {
    @apply text-yellow;
}

.iconContainer {
    composes: flex from global;
    composes: justify-center from global;
    composes: items-center from global;
    composes: bg-yellow from global;
    composes: rounded-full from global;
    composes: h-12 from global;
    composes: w-12 from global;
    composes: text-black from global;
}

.icon {
    composes: w-5 from global;
    composes: h-5 from global;
}

.itemTitle {
    composes: text-base-m from global;
    composes: mt-4 from global;
    composes: font-bold from global;
}

.itemContent {
    composes: text-sm from global;
    composes: mt-4 from global;
}